.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#00b4db, #0083b0);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  overflow: hidden;
  background-image: url("./../img/forest.png");
  background-size: cover;
}

.title {
  font-size: 9rem;
  color: #eeff07;
  text-transform: uppercase;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(220, 237, 0), -1px 1px 0 rgb(201, 218, 0),
    -2px 2px 0 rgb(183, 200, 0), -3px 3px 0 rgb(164, 181, 0),
    -4px 4px 0 rgb(146, 163, 0), -5px 5px 0 rgb(128, 145, 0),
    -6px 6px 0 rgb(109, 126, 0), -7px 7px 0 rgb(91, 108, 0),
    -8px 8px 0 rgb(72, 89, 0), -9px 9px 0 rgb(54, 71, 0),
    -10px 10px 0 rgb(36, 53, 0), -11px 11px 10px rgba(0, 0, 0, 0.7),
    -11px 11px 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.2);
  grid-column: 2/6;
  grid-row: 2/4;
  position: relative;
  display: flex;
  justify-content: center;
}

.divimg {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 6/-1;
  grid-row: 1/-1;
  object-fit: fill;
}

.divimg img {
  width: 70rem;
}

.paragraph {
  grid-column: 2/4;
  grid-row: 3/5;
  font-size: 2rem;
  font-weight: 700;
  border-right: 2px solid rgb(0, 0, 0, 0.3);
  position: relative;
  top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.1);
  transition: all 0.5s;
  animation: show 0.5s ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.paragraph:hover {
  -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.95);
  box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.95);
  transform: translateY(-6px);
}

.paragraph2 {
  grid-column: 4/6;
  grid-row: 3/5;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #eeff07; */
  background-color: rgb(255, 255, 255, 0.1);
  transition: all 0.5s;
  animation: show 0.5s ease-in-out;
}

.paragraph2:hover {
  -webkit-box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.95);
  box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.95);
  transform: translateY(-6px);
}

.link {
  grid-row: 5/7;
  grid-column: 2/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem 4rem;
  border-bottom: 8px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
}

.nav:hover {
  border-radius: 5px;
  background: rgb(255, 255, 255);
  transform: translateY(-7px);
  box-shadow: -2px 9px 15px -2px #000000;
}

.nav:active {
  transform: translateY(0);
  background: rgb(255, 255, 255);
}

@media (max-width: 51.25em) {
  .home {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .title {
    font-size: 6rem;
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .paragraph {
    grid-column: 3/6;
    grid-row: 3/5;
    top: 0;
  }

  .paragraph2 {
    grid-column: 6/9;
    grid-row: 3/5;
    top: 0;
  }

  .link {
    grid-column: 1/-1;
    grid-row: 5/6;
  }

  .nav {
    font-size: 2.5rem;
  }

  .divimg {
    grid-column: 1/-1;
    grid-row: 6/-1;
  }

  .divimg img {
    width: 30rem;
  }
}

@media (max-width: 35em) {
  .paragraph {
    grid-column: 2/6;
  }

  .paragraph2 {
    grid-column: 6/10;
  }
}

@media (max-width: 25em) {
  .title {
    font-size: 5rem;
  }

  .paragraph {
    font-size: 1.7rem;
  }

  .paragraph2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 4rem;
  }

  .paragraph {
    font-size: 1.5rem;
  }

  .paragraph2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 20em) and (max-height: 43.75em) {
  .divimg img {
    width: 24rem;
  }
}

@media (max-height: 28.125em) {
  .paragraph {
    font-size: 1.2rem;
  }

  .paragraph2 {
    font-size: 1.2rem;
  }

  .divimg img {
    width: 10rem;
  }
}
